<button mat-raised-button color="primary" routerLink="/">Return</button>
<table>
    <tbody>
        <tr>
            <td>
                <form *ngFor="let question of unansweredQuestions; let i = index" [formGroup]="unansweredQuestionsForm[i]" (ngSubmit)="addAnswer(i)">
                    <mat-card class="cardclass">
                        <mat-label><b>{{question.text}}</b></mat-label>
                        <div [ngSwitch]="question.type">
                            <ng-template ngSwitchCase="0">
                                <mat-radio-group formControlName="singleAnswer">
                                    <mat-radio-button class="example-radio-button" *ngFor="let answer of question.answers; let j = index" [value]="j">
                                        {{answer}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </ng-template>
                            <ng-template ngSwitchCase="1">
                                <div formArrayName="multipleAnswers">
                                    <span *ngFor="let answer of question.answers; let j = index" formGroupName="{{j}}">
                                        <mat-checkbox formControlName="isSelected">
                                            {{answer}}
                                        </mat-checkbox>
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template ngSwitchCase="2">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Write an answer (from 1 to 255 characters)</mat-label>
                                    <textarea matInput formControlName="openAnswer"></textarea>
                                </mat-form-field>
                            </ng-template>
                        </div>
                        <button type="submit" mat-raised-button color="primary">Add answer</button>
                    </mat-card>
                </form>
                <br>
            </td>
            <td>
                <mat-card *ngFor="let question of answeredQuestions; let i = index" class="cardclass">
                    <mat-label><b>{{question.text}}</b></mat-label>
                    <mat-label>
                        {{trueAnswer(question)}}
                    </mat-label><br>
                    <button mat-raised-button (click)="removeAnswer(i)" color="warn">Delete answer</button>
                </mat-card>
            </td>
        </tr>
    </tbody>
</table>