<table mat-table>
    <tbody>
        <tr *ngFor="let question of questions; let i = index">
            <td>
                {{question.text}}
            </td>
            <td>
                {{question.getType()}}
            </td>
            <td>
                {{question.date}}
            </td>
            <td>
                <button mat-raised-button [routerLink]="['edit', question.id]" color="primary">Edit</button>
            </td>
            <td>
                <button mat-raised-button color="warn" (click)="removeQuestion(question.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<button mat-raised-button color="primary" routerLink="/new">Create new question</button>
<button mat-raised-button color="primary" routerLink="/lists">Add answers</button>